.App {
  text-align: center;
  padding: 20px;
}

.tabs {
  height: 400px;
  width: 100%;
}

.tabs .tab-options {
  display: flex;
  border: 1px solid;
  justify-content: space-around;
}

.tab-options .tab {
  background: lightgray;
  flex: 1;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.tab-options .tab.active {
  background: crimson;
}
